.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    display: flex;
}

.header__navbar-user{
    display: flex;
    justify-items: center;
    position: relative;
}
.header__navbar-user-img{
    width: 22px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0, 0.1);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}
.header__navbar-user-menu{
    position: absolute;
    padding-left:  0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-item{
    
}
.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0,0,0,0.05);
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 70%;
    height: 8px;
}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 5px 16px;
    display: block;
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}
.header__navbar-user-item a:first-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.header__navbar-user-item a:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.header__navbar-user-menu::before{
    content: "";
    border-style: solid;
    border-width: 19px 26px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 9px;
    top: -32px;  
}
.header__navbar-user-item a
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--has-notify:hover .header__notify,
.header__navbar-item--has-qr:hover .header__qr{ 
    display: block;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300px;
}
.header__navbar-icon-link,
.header__navbar-item,
.header__navbar-item-link{
    display: flex;
    align-items: center;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;

}
.header__navbar-icon-link:nth-child(2){
    margin-left: 3px;

}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color)
}
/* Heade QR code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px
}
.header__qr-img{
    width: 100%;    
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img{
    height: 15px;
}
.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
/* Header notification */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    background-color: var(--white-color);
    border: 1px solid rgba(0,0,0, 0.1);
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    transform-origin: cal(100%-32px) top;
    display: none;
    z-index: 1;

}
.header__notify::before{
    content: "";
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 9px;
    top: -27px;  
}
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 12px;
    right: 0;
    top: -10px;
   


}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: 1;
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 4000;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;    
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);    
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img{    
    width: 48px;
    object-fit: contain;
    
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    user-select: none; ;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify-footer{
     text-align: center;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400px;
    width: 100%; 
}



.header{
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--has-notify:hover .header__notify,
.header__navbar-item--has-qr:hover .header__qr{ 
    display: block;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300px;
}
.header__navbar-icon-link,
.header__navbar-item,
.header__navbar-item-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;

}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color)
}
/* Heade QR code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px


}
.header__qr-img{
    width: 100%;
    
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;
}
.header__qr-download-img{
    height: 15px;
}
.header__qr-link:first-child{
    margin-left: 11px;
}
.header__qr-link:nth-child(2){
    margin-right: 11px;
}
/* Header notification */
.header__notify{
    position: absolute;
    top: 118%;
    right: 0;
    width: 404px;
    background-color: var(--white-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    transform-origin: cal(100%-20px) top;
    display: none;

}
.header__notify::before{/*làm mũi tên*/
    content: "";
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 9px;
    top: -27px;  
}
.header__notify::after{/*làm cái cầu*/
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 12px;
    right: 0;
    top: -10px;


}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: 1;
    }
}
.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3{
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 4000;
    font-size: 1.4rem;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;    
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}
.header__notify-item--viewed{
    background-color: rgba(238, 75, 43, 0.08);    
}

.header__notify-link{
    display: flex;
    padding: 12px;
    width: 100%;
    text-decoration: none;
}

.header__notify-img{    
    width: 48px;
    object-fit: contain;
    
}

.header__notify-info{
    margin-left: 12px;
}

.header__notify-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.8rem;
    user-select: none; ;
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
    margin-top: 4px;
}
.header__notify-footer{
    text-align: center;
}
.header__notify-footer-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400px;
    width: 100%; 
}
/* Modal */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container{
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px ;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #888;
}
.auth-form__aside{
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
}
.auth-form__text-link{
    text-decoration: none;
}
.auth-form__control{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__control-back{
    margin-right: 8px;
}
.auth-form__socials{
    margin-top: 22px;
    background-color: #F5F5F5;
    padding: 12px 36px;
    display: flex;
    justify-content: space-between;

}
.auth-form__socials-icon{
    font-size: 1.4rem;
}
.auth-form__socials--fb{
    background-color: #3A5A98;
    color: var(--white-color);
}
.auth-form__socials--fb
.auth-form__socials-icon{
    color: var(--white-color);
}
.auth-form__socials--gg{
    background-color: var(--white-color);
    color: #666;
}
.auth-form__socials-title{
    margin: 0 32px;
}
/* Login form */
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form__help-seperate {
    display: block;
    height: 22px;
    border-left: 1px solid var(--boder-color);
    margin: -1px 16px 0;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}
/* Header with Search  */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}
.header__logo{
    width: 200px;
}
.header__logo-link{
    text-decoration: none;
    color: transparent;
}
.header__logo-img{
    width: 150px;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%; 
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;
}
.header__search-select{
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon{
    font-size: 1.4rem;
    color: #4A4A4A ;
    margin: 0 16px 0 8px;
    position: relative;
    top: 2px;

}
.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
}
.header__search-btn-icon{
    font-size: 1.6rem;
    color: #fff;
}
.header__search-btn:hover{
    background-color: #fb6445;
    cursor: pointer;
}


.header__search-option{
    position: absolute;
    right: 0;
    top: calc(100% + 5px) ;
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    display: none; 
    animation: fadeIn ease-in 0.2s;

}
.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: -15px;
    left: 0;
}
.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px;
}
.header__search-option-item:first-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;

}
.header__search-option-item:last-child{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}
.header__search-option-item i{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: bold;
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
/* Search history */
.header__search-history{
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(189, 189, 189);
    display: none;
    overflow: hidden;
}
.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 ;
}
.header__search-history-item{
    height: 38px;
    padding:0 12px;
    text-decoration: none;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);  
    line-height: 38px;
    display: block; 
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Cart */
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}
.header__cart-icon{
    font-size: 3rem;
    color: var(--white-color);
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 6px);
    right: 1px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}
.header__cart-list::after{
    content: "";
    position: absolute;
    right: 8px;
    top: -26px;
    border-width: 16px 20px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header__cart-list--no-cart{
    padding: 24px 0;
    margin-left: auto; 
    margin-right: auto;
}
 
/* có class no-cart thì mới hiện lên */
.header__cart-list--no-cart .header__cart-list-no-cart-img{
    display: inline-block;
}
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
}

.header__cart-list-no-cart-img{
    width: 54%;
    display: none;
}
.header__cart-list-no-cart-msg{
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}
.header__cart-notice{
    position: absolute;
    padding: 1px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid #EE4D2D;
    top: -6px;
    right: 30px;
}
/* have card */
.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #F8F8F8;
}
.header__cart-img{
    width: 43px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.header__cart-item-desc{
    font-size: 1.2rem;
    color: #757575;
    font-weight: 300;
}
.header__cart-item-remove{
    font-size: 1.3rem;
    color: var(--text-color);
    font-weight: 400;
}
.header__cart-item-remove:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
    background-color: #F05D41;
    cursor: pointer;
}

/* App container */
.app__container{
    background-color: #F5F5F5;
}
.app__content{
    padding-top: 36px;  
}
.category{
    background-color: var(--white-color);
    border-radius: 2px; 
}
.category__heading{
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    margin-top: 0;

}
.category__heading-icon{
    font-size: 1.6rem;
    margin-right: 4px;
    position: relative; /*căn chỉnh vị trí của chính icon*/
    top: 1px;
}

.category-list{
    padding-left: 0;
    list-style: none;
    padding-bottom: 8px;
    margin-left: 10px;
}
.category-item{


}
.category-item--active .category-item__link{
    /* với item active thì con item link sẽ có màu là  */
    color: var(--primary-color);

}
.category-item--active .category-item__link::before{
    position: absolute;
    top: 50%; /*50% thẻ chứa nó*/
    /* căn giữa cho thẻ có position */
    transform: translateY(calc(-50% - 1px)); /*dịch chuyển theo trục dọc lên 50% của chính nó*/
    left: 7px;
    content: "";
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);

}
.category-item__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 4px 16px;
    display: block;
    /* khi hover vào thì di chuyển sang phải */
    position: relative;
    transition: right linear 0.1s;
    right: 0;
}
.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}

/* Home sort + filter */
.home-filter{
    background-color: rgba(0,0,0,0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    font-size: 1.4rem;
    color: #555; 
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px; 
    min-width: 90px;
    background-color: #fff;
    cursor: pointer;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    flex: 1;/*2 nút chia đôi*/
    background-color: var(--white-color);
    text-decoration: none;
    display: flex;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disable .home-filter__page-icon{
    color: #ccc;
}