.header{
    height: 120px;
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
}
.header__navbar-item{
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--has-qr:hover .header__qr{
    /* khi hove vào thì hiện lên header__qr */
    /* css sẽ ảnh hưởng lên  header__qr khi cái has-qr được hover vào*/
    display: block;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300px;
}
.header__navbar-icon-link,
.header__navbar-item,
.header__navbar-item-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-icon-link:hover,
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.header__navbar-item--strong{
    font-weight: 400;
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;

}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color)
}
/* Heade QR code */
.header__qr{
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;/*100% cao bằng li, để đứng sát ngay dưới li*/
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
/* Lớp giả để không mất cầu nối giữa li và div */
.header__qr::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    /*background-color: red; muốn thấy cái cầu thì bật lên */
    /* dịch vị trí cầu lên */
    left: 0;
    top: -16px


}
.header__qr-img{
    width: 100%;/*cho ảnh nằm gọn trong qr*/
    
}
.header__qr-apps{
    display: flex;
    /* cho 2 ảnh vào thẻ a để không bị méo */
    justify-content: space-between;/* để dính sát mép div */
}
.header__qr-download-img{
    height: 15px;
}
.header__qr-link:first-child{
    margin-left: 11px;
}
/* lấy thàng con 2 */
.header__qr-link:nth-child(2){
    margin-right: 11px;
}